@using Hms.Web.Persistence;
@{
    var page = ViewBag.Page as T_Pages;

    ViewBag.Title = page.SeoTitle;
    ViewBag.Description = page.SeoDescriptions;
    ViewBag.KeyWords = page.SeoKeyWords;

    List<T_Elements> elements = ViewBag.Elements as List<T_Elements>;
    elements = elements == null ? new List<T_Elements>() : elements;
    var news = ViewBag.News as T_Article;

    var banner = elements.Where(i => i.Code == "banner").FirstOrDefault();

    Layout = "~/Views/Shared/_Layout_cn.cshtml";
}

<section class="page-title page-title-1 image-bg overlay parallax">
    <div class="background-image-holder fadeIn">
        <img alt="安立特" class="background-image" src="@(banner==null?"":banner.Src)">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb0">新闻资讯</h2>
            </div>
        </div>
    </div>
    <ol class="breadcrumb breadcrumb-2">
        <li>
            <a href="/zh-cn">主页</a>
        </li>
        <li>新闻资讯</li>
    </ol>
</section>
<section class="pb0  bg-secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h4>@news.Title</h4>
                @news.Created.ToString("yyyy-MM-dd") &nbsp; By @news.Author
              
                <p class="lead mb64">
                    @news.SubTitle
                </p>
            </div>
        </div>
    </div>
</section>
<section class="pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                @Html.Raw(news.Contents)
            </div>
        </div>
    </div>
    <div style="height:20px;"></div>
</section>