@using Hms.Web.Persistence;
@{
    var page = ViewBag.Page as T_Pages;

    ViewBag.Title = page.SeoTitle;
    ViewBag.Description = page.SeoDescriptions;
    ViewBag.KeyWords = page.SeoKeyWords;

    List<T_Elements> elements = ViewBag.Elements as List<T_Elements>;
    elements = elements == null ? new List<T_Elements>() : elements;
    var news = ViewBag.News as List<T_Article>;

    var banner = elements.Where(i => i.Code == "banner").FirstOrDefault();

    Layout = "~/Views/Shared/_Layout_cn.cshtml";
}

<section class="page-title page-title-1 image-bg overlay parallax">
    <div class="background-image-holder fadeIn">
        <img alt="安立特" class="background-image" src="@(banner==null?"":banner.Src)">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb0">新闻资讯</h2>
            </div>
        </div>
    </div>
    <ol class="breadcrumb breadcrumb-2">
        <li>
            <a href="/zh-cn">主页</a>
        </li>
        <li>新闻资讯</li>
    </ol>
</section>
<section class="news-section">
    @{
        foreach (var item in news)
        {
            <div class="container">
                <div class="row v-align-children margin-bottom-10">
                    <div class="col-sm-3 text-center">
                        <img class="cast-shadow" alt="Screenshot" src="@item.Cover">
                    </div>
                    <div class="col-sm-9">
                        <h3 class="uppercase">@item.Title</h3>
                        <h5 class="text-gray-dark">@item.Created.ToString("yyyy年MM月dd日")</h5>
                        <p>@item.SubTitle</p>

                    </div>
                </div>
                <hr>
            </div>
        }
    }
</section>

