@using Hms.Web.Persistence;
@{
    var page = ViewBag.Page as T_Pages;

    ViewBag.Title = page.SeoTitle;
    ViewBag.Description = page.SeoDescriptions;
    ViewBag.KeyWords = page.SeoKeyWords;

    List<T_Elements> elements = ViewBag.Elements as List<T_Elements>;
    elements = elements == null ? new List<T_Elements>() : elements;
    var news = ViewBag.News as List<T_Article>;

    var banner = elements.Where(i => i.Code == "banner").FirstOrDefault();
    var about = elements.Where(i => i.Code == "introduce").FirstOrDefault();

    Layout = "~/Views/Shared/_Layout_cn.cshtml";
}


<section class="page-title page-title-1 image-bg overlay parallax">
    <div class="background-image-holder fadeIn">
        <img alt="安立特-产品系列" class="background-image" src="@(banner==null?"":banner.Src)">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb0">产品系列</h2>
            </div>
        </div>
    </div>

    <ol class="breadcrumb breadcrumb-2">
        <li>
            <a href="~/">主页</a>
        </li>
        <li class="active">产品系列</li>
    </ol>
</section>
<section class="pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                @(Html.Raw(about==null?"":about.HTML))
            </div>
        </div>

    </div>

</section>
@{
    for (int i = 0; i < news.Count; i++)
    {
        <section class="image-square @(i%2==0?"left":"right")">
            <div class="col-md-6 image">
                <a href="@news[i].Source" target="_blank">
                    <div class="background-image-holder fadeIn">
                        <img alt="image" class="background-image" src="@news[i].Cover">
                    </div>
                </a>
            </div>
            <div class="col-md-6 content">
                <h3>@news[i].Title</h3>
                <p class="mb0">@news[i].SubTitle</p>
                @Html.Raw(news[i].Contents)
            </div>
        </section>
    }
}

@*<section class="image-square right">
    <div class="col-md-6 image">
        <div class="background-image-holder fadeIn">
            <img alt="image" class="background-image" src="http://www.xtfengguang.com/Upload/news/7123E2AE7D94E4B649E20CE61484EC84.jpg">
        </div>
    </div>
    <div class="col-md-6 content">
        <h3>高端市场</h3>
        <p class="mb0">这类钻石原石通常用于制作质量为IF到VS级,颜色为D到J级的抛光钻石。 这种高端材料通常用于制造奢侈品。</p>
    </div>
</section>
<section class="image-square left">
    <div class="col-md-6 image">
        <div class="background-image-holder fadeIn">
            <img alt="image" class="background-image" src="http://www.xtfengguang.com/Upload/news/7123E2AE7D94E4B649E20CE61484EC84.jpg">
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 content">
        <h3>中端市场</h3>
        <p class="mb0">这类钻石原石通常用于制作质量为VS到I级的各种颜色抛光钻石。这种中等 材料通常用于制造品牌首饰,以及连锁或独立零售。</p>
    </div>
</section>
<section class="image-square right">
    <div class="col-md-6 image">
        <div class="background-image-holder fadeIn">
            <img alt="image" class="background-image" src="http://www.xtfengguang.com/Upload/news/7123E2AE7D94E4B649E20CE61484EC84.jpg">
        </div>
    </div>
    <div class="col-md-6 content">
        <h3>低端市场</h3>
        <p class="mb0">这类钻石原石通常用于制作质量为SI到I级的各种颜色抛 光钻石。需要经过多道加工工序,通常用于时尚和大宗市场零售。</p>
    </div>
</section>*@

