@using Hms.Web.Persistence;
@{
    var page = ViewBag.Page as T_Pages;

    ViewBag.Title = page.SeoTitle;
    ViewBag.Description = page.SeoDescriptions;
    ViewBag.KeyWords = page.SeoKeyWords;

    List<T_Elements> elements = ViewBag.Elements as List<T_Elements>;
    elements = elements == null ? new List<T_Elements>() : elements;
    var news = ViewBag.News as List<T_Article>;

    var banner = elements.Where(i => i.Code == "banner").FirstOrDefault();
    var about = elements.Where(i => i.Code == "about").FirstOrDefault();

    Layout = "~/Views/Shared/_Layout_en.cshtml";
}

<section class="page-title page-title-1 image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="关于安立特" class="background-image" src="@(banner==null?"":banner.Src)">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb0">About Us</h2>
            </div>
        </div>
    </div>
    <ol class="breadcrumb breadcrumb-2">
        <li>
            <a href="/en-us/">Home</a>
        </li>
        <li class="active">About Us</li>
    </ol>
</section>
@(Html.Raw(about==null?"":about.HTML))
@*<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2 class="number">2010</h2>
                <p>
                    Operating online since 2003 we now run an online auction platform Universal.com and provide IT infrastructure to other auction houses. We have the most competitive auction fees structure that differentiates us from other auction houses.
                </p>
            </div>
            <div class="col-sm-4">
                <h2 class="number">14000+</h2>
                <p>
                    We are bringing our bidders over 14000 auctions a year that allows secure transactions, easy bidding and comprehensive searching to ensure no opportunity is ever missed.
                </p>
            </div>
            <div class="col-sm-4">
                <h2>1350+</h2>
                <p>
                    In doing so, we support our network of more than 1350 auctioneers who vet the quality, estimate the value and ensure professional handling of each item.
                </p>
            </div>
        </div>
    </div>
</section>
<hr class="mb0">
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <h5 class="uppercase">
                    <strong>History</strong>
                </h5>
            </div>
            <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                <p class="mb0">
                    <b>2010</b>
                    <br /> Founded to provide high quality, independent auction price information to diamond professionals
                </p>
            </div>
            <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                <p class="mb0">
                    <b>2012</b>
                    <br /> Releases first internet-based price database Universal.com, including auction price information for the past 10 years
                </p>
            </div>
            <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                <p class="mb0">
                    <b>2013</b>
                    <br /> Partnerships with diamond miners and producers to bring their products to auction houses in the international market
                </p>
            </div>
            <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                <p class="mb0">
                    <b>2014</b>
                    <br /> Acquires a team of IT veterans, focusing on online auction technology
                </p>
            </div>
            <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                <p class="mb0">
                    <b>2015</b>
                    <br /> Launches our own online bidding platform; closes a $13 million round of capital financing
                </p>
            </div>
            <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                <p class="mb0">
                    <b>2016</b>
                    <br /> Rebrands Universal.com with an updated website designed to encourage increased online bidding, including category browsing functionality.
                </p>
            </div>
            <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                <p class="mb0">
                    <b>2017</b>
                    <br /> Announces strategic partnerships LeFigaro.fr in France; announces technology partnership with eBay to power eBay Live Auctions; raises $33.75 million in funding
                </p>
            </div>
            <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                <p class="mb0">
                    <b>2018</b>
                    <br /> Launches technology partnership with Sotheby&#039;s to power all online bidding on Sothebys.com
                </p>
            </div>
            <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                <p class="mb0">
                    <b>2019</b>
                    <br /> Updates the live bidding experience, launches payment processing and offers fixed price items in partnership with premier galleries and dealers.
                </p>
            </div>
            <div class="col-md-3 col-sm-6 mb64 mb-xs-24">
                <p class="mb0">
                    <b>2020</b>
                    <br /> Created innovation co-invest platform for investors in Asia.
                </p>
            </div>
        </div>

    </div>

</section>*@
<hr class="mb0">
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h5 class="uppercase">
                    <strong>Team</strong>
                </h5>
            </div>
            @{
                foreach (var item in news)
                {
                    <div class="col-md-9 col-md-push-3 col-sm-12 mb40 mb-xs-24 p0">
                        <div class="col-sm-6 mb64 mb-xs-24">
                            <img alt="@item.Title" src="@item.Cover">
                        </div>
                        <div class="col-sm-6 mb64 mb-xs-24">
                            <h5 class="uppercase mb0">@item.Title</h5>
                            <span class="inline-block  mb-xs-24">@item.SubTitle</span>
                            @(Html.Raw(item.Contents))
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>
