
@{
    ViewBag.Title = "Media";
    Layout = "~/Views/Shared/_Layout_en.cshtml";
    string VideoUrl = "";
}


<section class="page-title page-title-1 image-bg overlay parallax">
    <div class="background-image-holder">
        <img alt="Background Image" class="background-image" src="http://img.lanrentuku.com/img/allimg/1305/5-13050GS109.gif">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb0">Media</h2>
            </div>
        </div>

    </div>

    <ol class="breadcrumb breadcrumb-2">
        <li>
            <a href="/en-us/">Home</a>
        </li>
        <li>Media</li>
    </ol>
</section>
<section class="news-section">



    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/uap-ceo-sa-speech-poster.jpg">
                        <source src="@(VideoUrl)uap-ceo-sa-speech.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">UAP CEO, Tim Cooper, South Africa Event Speech</h3>
            </div>
        </div>
        <hr>
    </div>


    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/ceo-speech-sa-poster.jpg">
                        <source src="@(VideoUrl)ceo-speech-sa.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">Universal CEO SPEECH IN SOUTH AFRICA CONFERENCE</h3>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/SacoChristmas2018-poster.jpg">
                        <source src="@(VideoUrl)SacoChristmas2018.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">Universal CEO WISHES ALL A MERRY CHRISTMAS 2018</h3>
            </div>
        </div>
        <hr>
    </div>


    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/SCIndiaCEO-poster.jpg">
                        <source src="@(VideoUrl)SCIndiaCEO.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">Universal CEO ADDRESS - INDIA MARKET DEVELOPMENT ROADMAP</h3>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/SCIndiaSP-poster.jpg">
                        <source src="@(VideoUrl)SCIndiaSP.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">Universal INDIA MARKETING DIRECTOR - MR SUPREET</h3>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/SCIndiaEv-poster.jpg">
                        <source src="@(VideoUrl)SCIndiaEv.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">Universal INDIA FIRST MANAGEMENT CONFERENCE</h3>
            </div>
        </div>
        <hr>
    </div>


    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/JejuEv-saco-poster.jpg">
                        <source src="@(VideoUrl)JejuTTC-saco.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">UAP Founder, Tim Cooper, Media Address in Universal Event in Jeju Island</h3>
            </div>
        </div>
        <hr>
    </div>




    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/CEO-Seoul-poster.png">
                        <source src="@(VideoUrl)CEO-Seoul.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">Universal CEO Address in Block Seoul 2018</h3>
            </div>
        </div>
        <hr>
    </div>


    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/HKSCjzzdh-poster.png">
                        <source src="@(VideoUrl)HKSCjzzdh.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">2018 Universal Media Conference</h3>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/HKSCCEO-poster.png">
                        <source src="@(VideoUrl)HKSCCEO.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">CEO Opening Speech during Universal Media Conference</h3>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/HKEvent-poster.png">
                        <source src="@(VideoUrl)HKEvent.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">Universal July Hong Kong Media Conference</h3>
                <p>Universal CEO, Mr Edward Norman, invites us to register the Universal July Hong Kong Media Conference. Conference will be having superstar, Christy Chung as ambassador to the July premium yellow diamond series. Please view more details by clicking on the video.</p>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/HKOffice-poster.png">
                        <source src="@(VideoUrl)HKOffice.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">Universal Hong Kong Service Centre</h3>
                <p>Universal CEO, Mr Edward Norman, introduce Universal Hong Kong Service Center. Please view more details by clicking on the video.</p>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/Universal-SZexpo-poster.png">
                        <source src="@(VideoUrl)Universal-SZexpo.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">Forex Expo iBLOCKCHAIN Summit 2018 China</h3>
                <p>Universal CEO, Mr Edward Norman, received 2 awards at Forex Expo iBLOCKCHAIN Summit 2018 China in May. The Best Blockchain Technology in Asia and The Most Innovative Diamond Trading Platform. Please view more by clicking on the video.</p>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/ceo-interview-poster.png">
                        <source src="@(VideoUrl)ceo-interview.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">CEO, Mr Edward Norman Interview</h3>
                <p>Universal CEO, Mr Edward Norman, giving insights to the innovative diamond trading platform and what Universal will be achieving in the many years ahead in the Asia region. Please view more by clicking on the video.</p>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/CEOmarket-poster.png">
                        <source src="@(VideoUrl)CEOmarket.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">CEO, Mr Edward Norman on Diamond Market</h3>
                <p>Universal CEO, Mr Edward Norman, giving insights to the diamond market and what Universal will be achieving in the many years ahead in the Asia region. Please view more by clicking on the video.</p>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row v-align-children margin-bottom-10">
            <div class="col-sm-6 text-center">
                <div class="local-video-container">
                    <video controls controlsList="nodownload" poster="~media/Saco5C-poster.png">
                        <source src="@(VideoUrl)Saco5C.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="uppercase">Universal Diamond Expert</h3>
                <p>Universal Diamond Expert explaining what 5C means for the precious diamond. Please view more by clicking on the video.</p>
            </div>
        </div>
        <hr>
    </div>

</section>
