@using Hms.Web.Persistence;
@{
    var page = ViewBag.Page as T_Pages;

    ViewBag.Title = page.SeoTitle;
    ViewBag.Description = page.SeoDescriptions;
    ViewBag.KeyWords = page.SeoKeyWords;

    List<T_Elements> elements = ViewBag.Elements as List<T_Elements>;
    elements = elements == null ? new List<T_Elements>() : elements;
    var news = ViewBag.News as List<T_Article>;

    var banner = elements.Where(i => i.Code == "banner").FirstOrDefault();
    var about = elements.Where(i => i.Code == "introduce").FirstOrDefault();

    Layout = "~/Views/Shared/_Layout_en.cshtml";
}

<section class="page-title page-title-1 image-bg overlay parallax">
    <div class="background-image-holder fadeIn">
        <img alt="安立特-产品系列" class="background-image" src="@(banner==null?"":banner.Src)">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb0">Products</h2>
            </div>
        </div>

    </div>
    <ol class="breadcrumb breadcrumb-2">
        <li>
            <a href="/en-us/">Home</a>
        </li>
        <li class="active">Products</li>
    </ol>
</section>
<section class="pb0">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                @(Html.Raw(about==null?"":about.HTML))
                @*<h3>RANGE AND REGULARITY<br>Serving our global diverse customer base</h3>
                    <p class="lead mb80">We prepare and offer for sale a full spectrum of rough diamond products ranging from Very High-End unique Exceptional & Special stones, High-End products destined for luxury retail, Mid-Market products destined for mainstream retail and Low-End products for fashion retail and industrial uses. <br><br>Our product mix caters to the needs of both specialist and generalist customers, and we ensure that the colour, quality, size and model profiles of our rough products closely match our customers' polished outcome requirements, evolving rough product profiles to align with downstream demand trends. Our products are assorted into the following categories that reflect our customers’ utilisation of the goods.</p>*@
            </div>
        </div>
    </div>
</section>
@{
    for (int i = 0; i < news.Count; i++)
    {
        <section class="image-square @(i%2==0?"left":"right")">
            <div class="col-md-6 image">
                <a href="@news[i].Source" target="_blank">
                    <div class="background-image-holder fadeIn">
                        <img alt="image" class="background-image" src="@news[i].Cover">
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-md-offset-1 content">
                <h3>@news[i].Title</h3>
                <p class="mb0">@news[i].SubTitle</p>
                @Html.Raw(news[i].Contents)
            </div>
        </section>
    }
}
@*<section class="image-square left">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="~img/vhighend.jpg" />
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 content">
        <h3>VERY HIGH-END</h3>
        <p class="mb0">Goods of exceptional quality or fancy colours. Very high-end material typically destined for the ultra-luxury segment.</p>
    </div>
</section>
<section class="image-square right">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="~img/highend.jpg" />
        </div>
    </div>
    <div class="col-md-6 content">
        <h3>HIGH-END</h3>
        <p class="mb0">Goods ranging from IF to VS quality and D to J colour. High-end material typically destined for the luxury segment.</p>
    </div>
</section>
<section class="image-square left">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="~img/midmarket.jpg" />
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1 content">
        <h3>MID-MARKET</h3>
        <p class="mb0">Goods ranging from VS to I quality in all colours. Mid-range material typically destined for branded jewellery and chain or independent retail.</p>
    </div>
</section>
<section class="image-square right">
    <div class="col-md-6 image">
        <div class="background-image-holder">
            <img alt="image" class="background-image" src="~img/lowend.jpg" />
        </div>
    </div>
    <div class="col-md-6 content">
        <h3>LOW-END</h3>
        <p class="mb0">Goods ranging from SI to I qualities in all colours. Goods requiring multiple processes typically destined for fashion and “mass market” retail, or industrial applications.</p>
    </div>
</section>*@